/* The container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* The content that drops down (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  /* Removes bullet points if you use a <ul> */
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover over the container */
.dropdown:hover .dropdown-content {
  display: block;
}

