<div class="container">
    <a class="site-menu-leftentry" href="index.html">Home</a>
    <nav class="site-nav">
        <div class="dropdown">
            <a class="page-link" href="cfp.html"><span>Calls</span></a>
            <div class="dropdown-content">
                <a href="cfp.html">Call for Papers</a>
                <a href="workshops.html">Call for Workshops</a>
                <a href="posters.html">Call for Posters</a>
                <a href="testoftime.html">Call for Nominations</a>
            </div>
        </div>
        <div class="dropdown">
          <a class="page-link" href="organization.html"><span>Committees</span></a>
          <div class="dropdown-content">
              <a href="organization.html">Organization committee</a>
              <a href="tpc.html">Program committee</a>
              <!-- <a href="tpc.html">TPC</a> -->
          </div>
      </div>
        <a class="page-link" href="venue.html"><span>Venue</span></a>
        <!-- <a class="page-link" href="organization.html"><span>Organization</span></a> -->
        <a class="page-link" href="http://jianying.space/acns/" target="_blank"><span>Previous Events</span></a>
    </nav>
</div>
