
<div class="container">
<!--
    <div class="row center-align">
        <p>With the generous support of:</p>
    </div>
    <div class="row center-align">

        <div class="one-third column center-align">
        <a href="https://www.cs.stonybrook.edu"><img class="logosbu" src="images/SBU_logo_300ppi.png"/></a>
    </div>

    <div class="one-third column center-align">
        <p>Gold Sponsor</p>
        <a href="https://www.facebook.com"><img class="logofb" src="images/facebook.png"/></a>
    </div>

    <div class="one-third column center-align">
        <p>Gold Sponsor</p>
        <a href="https://www.antfin.com/"><img class="logofb" src="images/ant_financial.png"/></a>
    </div>
</div>
-->

    <div class="row">
        <div class="one-half column">
            <p class="CURRENTDATE">Last updated: Nov 2025</p>
        </div>
        <div class="one-half column">
            <p class="right-align">© 2026, NextG-Sec 2026 Organizing Committee</p>
        </div>
    </div>
</div>
